.counter {
  max-width: 400px;
  margin: 5px;
  padding: 10px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.screen {
  width: 200px;
  height: 50px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.parity {
  text-align: center;
  width: 200px;
  padding: 5px;
  border: 2px solid black;
  margin-bottom: 30px;
}

.parityTrue {
  background-color: rgb(213, 253, 173);
}

.parityFalse {
  background-color: rgb(156, 145, 255);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button {
  width: 70px;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  background-color: transparent;
  border-style: none;
  border: 2px solid black;
  transition: 0.2s;
}

.button + .button {
  margin-left: 20px;
}

.button:hover {
  background-color: rgb(206, 206, 206);
}
