.footer {
  background-color: #48156d;
  padding: 55px 15px 40px 340px;
  color: white;
}

.footerTop {
  display: flex;
  margin-bottom: 70px;
}

.footerItem {
  margin-bottom: 15px;
}

.footerItem a {
  font-size: 14px;
  line-height: 18px;
  color: white;
}

.footerItemTitle {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #c282f0;
  margin-bottom: 15px;
}

.footerTop > div + div {
  margin-left: 40px;
}

.quickLinksItem {
  margin-bottom: 5px;
}

.cityDiv {
  margin-bottom: 15px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  max-width: 130px;
}

.socialItem {
  padding: 2px;
  max-width: 32px;
}

.socialItem img {
  width: 100%;
}

.footerBottom > a {
  margin-left: 20px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

@media all and (max-width: 1280px) {
  .footer {
    padding: 55px 15px 40px 200px;
  }
}

@media all and (max-width: 992px) {
  .footer {
    padding: 55px;
  }

  .footerTop {
    margin-bottom: 15px;
  }

  .footerTop > div + div {
    margin-left: 30px;
  }
}

@media all and (max-width: 768px) {
  .footer {
    padding: 25px 15px;
  }

  .footerItemTitle {
    margin-bottom: 2px;
    letter-spacing: 1;
  }

  .footerTop {
    display: block;
  }

  .footerTop > div {
    margin-bottom: 15px;
  }

  .footerTop div + div {
    margin-left: 0px;
  }

  .footerItemInfo {
    display: flex;
    flex-wrap: wrap;
  }

  .quickLinksItem {
    margin: 0px 7px 5px 0px;
  }

  .quickLinksItem + .quickLinksItem {
    margin-left: 0px;
  }

  .cityContainer {
    margin-bottom: 10px;
  }

  .social {
    max-width: none;
  }

  .footerBottom {
    text-align: center;
  }
}

@media all and (max-width: 480px) {
  .footerBottom {
    display: flex;
    flex-direction: column;
  }
  .footerBottom > a {
    margin-left: 0px;
    margin-bottom: 3px;
    order: -1;
  }
}
