.veterinarians {
  padding: 60px 150px 45px;
  display: flex;
  justify-content: space-between;
}

.veterinariansItem {
  max-width: 45%;
}

.title {
  font-style: normal;
  font-size: 44px;
  line-height: 1.2;
  margin-bottom: 25px;
}

.img {
  display: flex;
  justify-content: center;
}

.infoItem {
  padding-bottom: 30px;
}

.infoItem + .infoItem {
  padding-top: 30px;
  border-top: 1px solid #f7a500;
}

.infoItemTitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.3;
  color: #6f1eaa;
  margin-bottom: 20px;
}

.infoItemText {
  font-size: 16px;
  line-height: 1.4;
}

.infoItemPS {
  margin-top: 10px;
}

@media all and (max-width: 1280px) {
  .veterinarians {
    padding: 60px 100px 45px;
  }

  .veterinariansItem {
    max-width: 48%;
  }

  .title {
    font-size: 38px;
  }
}

@media all and (max-width: 992px) {
  .veterinarians {
    padding: 60px 30px 45px;
  }

  .infoItem {
    padding-bottom: 10px;
  }

  .infoItem + .infoItem {
    padding-top: 10px;
  }

  .title {
    font-size: 30px;
  }
}

@media all and (max-width: 768px) {
  .title {
    font-size: 24px;
  }

  .infoItemTitle {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .infoItemText {
    font-size: 14px;
  }

  .infoItemPS {
    font-size: 13px;
  }
}

@media all and (max-width: 576px) {
  .veterinarians {
    flex-direction: column;
    padding: 35px 15px;
  }

  .veterinariansItem {
    max-width: 100%;
  }

  .title {
    max-width: 400px;
    margin: 0 auto;
    font-size: 28px;
    text-align: center;
  }

  .img {
    height: 250px;
  }

  .infoItemTitle {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .infoItemPS {
    font-size: 12px;
  }
}

@media all and (max-width: 480px) {
  .title {
    font-size: 22px;
  }

  .img {
    height: 200px;
  }
}
